.cryptocurrenciesList__table {
	width: 80%;
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
	margin: 2rem auto;
}

.cryptocurrenciesList__theads {
	border: 1px solid black;
}
