.header {
	background-color: grey;
	padding: 2rem 0;
}

.header nav {
	display: flex;
	margin: 0;
	padding: 0 2rem;
}

.header__link {
	padding-right: 1.5rem;
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
	text-decoration: none;
	align-self: center;
}

.header__link:first-child {
	font-size: 1.5rem;
}
