.observedCurrencies__none {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	min-height: 100vh;
	margin: 0;
	padding-top: 24px;
}
.dark {
	background-color: #414245;
	color: #fff;
}

.dark__fullSize {
	min-height: 100vh;
}
